/* RESET ALL */
* { padding:0px; margin:0px; font-family:"Trebuchet MS",Verdana,helvetica,arial,sans-serif; font-size:13px; }
body { background-color:#F3F1EC; }


/* CLEARFIX HACK */
.clearfix:after {
	content: ".";
	display: block;
	/*clear: both;*/
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* ESTRUTURA */
#header { 
	height:60px; 
	line-height:60px;
	background:url('../imgs/back-menu.png') repeat-x; 
	padding:0 20px; 
	-moz-box-shadow: 0 0 3px #666666;
	-webkit-box-shadow: 0 0 3px #666666;
}
#header #logo { width:205px; height:60px; float:left; }
#header #pesquisa { margin-left:10px; float:left; }
#header #pesquisa input { background:url("../imgs/search.png") no-repeat scroll 6px 8px #FFFFFF; font-size:14px; padding:5px 10px 5px 22px; -moz-border-radius:4px; -webkit-border-radius: 4px; border:none; width:600px;}
#greetings a { border-bottom: 1px dotted #3A6897; margin-left:6px; }
#principal { padding:20px; }
#main { width:215px; min-height:200px; padding-top:8px; float:left; }
#content { 
	float: none;
	left: auto;
	margin-left: 215px;
	position: static;
	width: auto;
	min-height:480px; 
	background-color:#fff;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 3px #CCCCCC;
	-webkit-box-shadow: 0 0 3px #CCCCCC;
	box-shadow: 0 0 3px #CCCCCC;
}
#content-main { background-color:#F0F5F8; border-bottom:1px solid #DADEE5; padding:12px; -moz-border-radius:6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;}
#content-general { padding:12px; }
#footer { height:30px; color:#696969;; margin-left:240px; overflow:hidden; }

/* TAGS */
a, a:link, a:visited, a:hover { text-decoration:none; color:#3B6B9C; }
h2 { font-size:16px; border-bottom:1px solid #ccc; margin-bottom:10px; }
h3 { font-size:14px; }
h4 { color:#999999; font-size:11px; margin-bottom:10px; font-weight:bold; text-transform:uppercase; }

/* MENU LATERAL ESQUERDO */
ul.menu li { list-style-type:none; }
ul.menu li a { display:block; font-size:13px; line-height:28px; overflow:hidden; padding:0 6px 0 40px; color:#555555; }

ul.menu li a span.stats { color:#999999; font-size:10px; padding-left:5px; }
ul.menu li a:hover { background-color:#EFEDE7; color:#333333; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
ul.menu li a.selected { background-color:#E5E3DE; color:#000; }

ul.menu li.inicio { background-image:url('../imgs/Home.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.inicio a:hover { background-image:url('../imgs/Home.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.inicio a.selected { background-image:url('../imgs/Home.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.projetos { background-image:url('../imgs/Projects.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.projetos a:hover { background-image:url('../imgs/Projects.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.projetos a.selected { background-image:url('../imgs/Projects.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.msgs { background-image:url('../imgs/Messages.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.msgs a:hover { background-image:url('../imgs/Messages.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.msgs a.selected { background-image:url('../imgs/Messages.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.perfil { background-image:url('../imgs/Profile.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.perfil a:hover { background-image:url('../imgs/Profile.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.perfil a.selected { background-image:url('../imgs/Profile.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.conf { background-image:url('../imgs/Overview.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.conf a:hover { background-image:url('../imgs/Overview.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.conf a.selected { background-image:url('../imgs/Overview.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.visao { background-image:url('../imgs/Vision.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.visao a:hover { background-image:url('../imgs/Vision.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.visao a.selected { background-image:url('../imgs/Vision.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.atividade { background-image:url('../imgs/Activity.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.atividade a:hover { background-image:url('../imgs/Activity.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.atividade a.selected { background-image:url('../imgs/Activity.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.wiki { background-image:url('../imgs/Wiki.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.wiki a:hover { background-image:url('../imgs/Wiki.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.wiki a.selected { background-image:url('../imgs/Wiki.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.doc { background-image:url('../imgs/Documents.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.doc a:hover { background-image:url('../imgs/Documents.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.doc a.selected { background-image:url('../imgs/Documents.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.agenda { background-image:url('../imgs/Calendar.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.agenda a:hover { background-image:url('../imgs/Calendar.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.agenda a.selected { background-image:url('../imgs/Calendar.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.plan { background-image:url('../imgs/Plan.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.plan a:hover { background-image:url('../imgs/Plan.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.plan a.selected { background-image:url('../imgs/Plan.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.estat { background-image:url('../imgs/Statistic.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.estat a:hover { background-image:url('../imgs/Statistic.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.estat a.selected { background-image:url('../imgs/Statistic.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.adm { background-image:url('../imgs/Adm.png'); background-repeat:no-repeat; background-position:12px -18px; }
ul.menu li.adm a:hover { background-image:url('../imgs/Adm.png'); background-repeat:no-repeat; background-position:12px 4px; }
ul.menu li.adm a.selected { background-image:url('../imgs/Adm.png'); background-repeat:no-repeat; background-position:12px 4px; }

hr { border:none; border-top:1px solid #DAD8D4; border-bottom:1 px solid white; margin:1em 0px 1em 0px; }
/* FORMULARIOS */
input, textarea, select { line-height:160%; color:#333; }
form { padding-top:10px; }
form fieldset{
	margin:0;
	padding:0;
	border:none;	
	float:left;
	display:inline;
	margin-right:25px;
	width:100%;
}
form fieldset div {
	padding-left: 20px;
	padding-bottom: 20px;
}
form fieldset div ul {
	padding-left: 50px;
}

form legend { display:block; border-bottom:1px solid #ccc; width:100%; font-size:21px; }
form p{margin:.5em 0;}	
form label{display:block; margin-bottom:5px; line-height:20px; }	
form input, form textarea, form select{		
	width:252px;
	border:1px solid #ddd;
	padding:6px;
}
form textarea{
	height:125px;
	width:98%;
	overflow:auto;
}
form p.submit{
	clear:both;
	margin:0;
	text-align:right;
}	
form input[type=submit], form input[type=reset], a.submit{
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font: 12px/20px Arial,Helvetica Neue,Helvetica,sans-serif;
    height: 28px;
    line-height:100%;
    padding: 5px 10px;
    text-transform: uppercase;
    background: none repeat scroll 0 0 #3B6B9C;
   	border: 1px solid #3A6897;
   	border-radius: 3px 3px 3px 3px;
   	width:auto;
}
form input[type=reset] { border: 1px solid #AB0E15; background: none repeat scroll 0 0 #C5101A; }

/* MODO DE VISUALIZA��O */
#list_view, #grid_view {
height: 20px;
font-size: 13px;
padding: 2px 10px 2px 26px;
margin-top: -1px;
display: block;
float: right;
background-image: url('../imgs/listgrid.png');
background-repeat: no-repeat;
cursor: pointer;
color: #969696;
}
#grid_view {
background-position: -4px -42px;
margin-right: -8px;
}
#list_view {
background-position: -75px -42px;
margin-right: 8px;
}
#list_view:hover, #grid_view:hover, #list_view.active, #grid_view.active {
color: black;
}
#list_view.active { background-position: -75px -7px!important; }
#grid_view.active { background-position: -4px -7px!important; }
#grid_view:hover{background-position:-4px -78px}
#list_view:hover{background-position:-75px -78px}

div.listV { margin-top:20px; }
div.listV div.projBox { padding:10px; border:1px solid #ccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; min-height:175px; margin-bottom:7px; }
div.listV div.projBox div.topDetails { font-size:13px; color:#999; }
div.listV div.projBox div.topDetails span.left { text-align:left; float:left; }
div.listV div.projBox div.topDetails span.right { text-align:right; float:right; margin-left:7px; }
div.listV div.projBox div.details { clear:right; padding-top:7px; }
div.listV div.projBox div.details div.imgDetails { float:left; width:150px; height:150px; margin-right:7px; }
div.listV div.projBox div.details div.imgDetails img { width:150px; height:150px; }
div.listV div.projBox div.details div.textDetails { float:left; }
div.listV div.projBox div.details span.projTit a { font-size:26px; padding-top:5px; font-weight:bold; }
div.listV div.projBox div.details p { color:black; font-weight:normal; }

div.gridV { margin-top:20px; }
div.gridV div.projBox { float:left; margin-right:10px; padding:10px; margin-bottom:7px; width:150px; min-width:150px; min-height:250px; max-height:250px; overflow:hidden; }
div.gridV div.projBox div.details div.imgDetails img { width:150px; height:150px; }
div.gridV div.projBox div.topDetails span { clear:both; float:left; color:#999; font-size:11px; margin-bottom:3px; }
div.gridV div.projBox div.topDetails span.right { clear:none; float:right; margin-left:5px; }
div.gridV div.projBox div.details span.projTit a { font-size:14px; padding-top:5px; font-weight:bold; }

/* TOOLTIP */
#easyTooltip{
	padding:5px 10px;
	border:1px solid #195fa4;
	background:#195fa4;
	color:#fff;
}
img.help:hover { cursor:pointer; }

/* MENSAGENS */
.messagebox{
	border:1px solid #c93;
	background:url("../imgs/alerta.png") no-repeat 4px 50%;
	background-color:#ffc;
	padding:3px 3px 3px 23px;
	margin-top:10px;
	color:#708090;
}
.messageboxok{
	border:1px solid #349534;
	background:url("../imgs/certo.gif") no-repeat 4px 50%;
	background-color:#C9FFCA;
	padding:3px 3px 3px 23px;
	color:#008000;
	margin-top:10px;
}
.messageboxerror, label.error{
	border:1px solid #CC0000;
	background:url("../imgs/erro.png") no-repeat 4px 50%;
	background-color:#F7CBCA;
	padding:3px 3px 3px 23px;
	color:#CC0000;
	margin-top:10px;
}
.messageboxinfo{
	border:1px solid #1E5395;
	background:url("../imgs/info.png") no-repeat 4px 50%;
	background-color:#B0C4DE;
	padding:3px 3px 3px 23px;
	color:#1E5395;
	margin-top:10px;
}

/* PARTICULARIDADES */
img.fotoDestaque { border: 2px solid #d7d7d7; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
#content-main h2 { font-size:26px; color:#000000; font-weight:normal; border-bottom:none; margin-bottom:0; line-height:48px; }
#content-main h2.inicio { padding-left:56px; background-image:url('../imgs/icons/Home.png'); background-repeat:no-repeat; }
#content-main h2.projeto { padding-left:56px; background-image:url('../imgs/icons/Project.png'); background-repeat:no-repeat; }
#content-main h2.visao { padding-left:56px; background:url('../imgs/icons/Overview.png'); background-repeat:no-repeat; }
#content-main h2.atividade { padding-left:56px; background:url('../imgs/icons/Activity.png'); background-repeat:no-repeat; }
#content-main h2.perfil { padding-left:56px; background:url('../imgs/icons/ID.png'); background-repeat:no-repeat; }
ul.lista li { list-style-type:none; }

/* PAGINA COM LISTA DE ATIVIDADES */
#activityForm { padding-bottom:20px; }
#activityForm fieldset { font-size:11px; padding-bottom:15px; border:none; }
legend.linkColl { font-family:Verdana, sans-serif; font-size:11px; padding:0px 3px 0px 16px; cursor:pointer; background:url("../imgs/arrow_collapsed.png") no-repeat scroll 0 40% transparent; width:98%; }  
legend.active { background:url("../imgs/arrow_expanded.png") no-repeat scroll 0 40% transparent;}
legend.linkColl a, legend.linkColl a:visited { text-decoration:none; color:black; text-transform:uppercase; }
#columnsAvailable, #columnsSelected { width:300px; height:100px; padding:5px; }
#columnsAvailable { margin-left:20px; }

#menuActivity { width:100%; }
#menuActivity a {
	float:left;
	margin-right:10px;
	padding:5px; 
	width:34px; 
	height:34px;
	display:block;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius:3px;
}
#menuActivity a:hover { border:1px solid #C6C6C6; }
#menuActivity a { position:relative; }
#menuActivity a span{
	font-size:10px;
	font-weight:bold;
	font-family:Verdana, sans-serif;
	background:url(../imgs/tooltip_bg.png);
	width:139px;
	height:50px;
	line-height:63px;
	position:absolute;
	display:none;
	top:-90px;
	color:#fff;
	right:-49px;
	text-align:center;
}

#menuActivity a.apply { background:url('../imgs/apply.png') no-repeat center #F6F6F6; }
#menuActivity a.resetActivity { background:url('../imgs/resetActivity.png') no-repeat center #F6F6F6; }
#menuActivity a.deleteSelected { background:url('../imgs/deleteSelected.png') no-repeat center #F6F6F6; }
#menuActivity a.createActivity { background:url('../imgs/createActivity.png') no-repeat center #F6F6F6; }

/* PAGINA DE UMA ATIVIDADE */
#controls a { padding-left:20px; margin-right:7px; }
a.atualizar { background:url('../imgs/atualizar.png') no-repeat; }
a.acompanhar { background:url('../imgs/favorito.png') no-repeat; }
a.anexar { background:url('../imgs/anexo.png') no-repeat; }

#controls { text-align:right; }
#issueBox {
	background-color: #FFFFDD; 
	border: 1px solid #CCC;
	padding:10px;
	margin: 10px 0px;
}
#issueBox hr { clear:right;  border-color: #ccc; margin:10px 0px; } 
#issueBox h2, #commentsBox h2 { padding-bottom:2px; font-weight:normal; font-size:21px; }
#issueBox span, #issueBox p { font-family:Verdana, sans-serif; font-size:13px; color:#484848;  line-height:18px; } 

#detailTop a img { float:left; width:35px; height:35px; margin-right:7px; }

#detail { margin-top:10px; width:100%; }
div.detailLeft { width:50%; float:left; }

span.detailTitle { font-weight: bold; width:130px; }
 
#commentsBox { padding-top:10px; }
#commentsBox hr { clear:left; }
img.loaderajax { float:right; margin:12px 10px 0 0; display:none; width:24px; height:24px }
div.commentText { clear:right; padding:0px; min-height:75px; } 
div.commentText img { float:left; width:50px; height:50px; margin-right:10px; }
div.commentText p.detail  { font-size:11px; text-align:right; margin-bottom:5px; }
div.commentText span.detailComment { color:#999; }
div.divisor { border:1px solid #484848; }